.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;

  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1120px;
  padding: 0;

  padding-top: 32px;
}

section.main_section_02 {
  background-color: #000;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}
